
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>
<%- include("partials/menu.ejs") %>
<main>
      <div class="container">
        <div class="card mb-3">
            <div class="content">
                <img class="card-img-top" alt="img" src='<%= product.imageURL %>'/>
                <h5 class="card-title"><%=product.title %></h5>
                <p class="card-text"><%=product.description%></p>
                <p class="card-text"> Цена <%=product.price%> руб.</p>
                <a href="/product" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>

</main>
<%- include("partials/footer.ejs") %>

</body>

</html>

